{% extends 'core/base.html' %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
<div class="grid grid-cols-1 md:grid-cols-12 gap-6">
  <!-- Image Section -->
  <div class="col-span-12 md:col-span-5 bg-gray-100 rounded-lg shadow-md overflow-hidden">
      <img src="{{ item.image.url }}" alt="{{ item.name }}" class="w-full h-auto object-cover rounded-lg transition-transform duration-300 hover:scale-105">
  </div>
  
  <!-- Details Section -->
  <div class="col-span-12 md:col-span-7 bg-white rounded-lg p-6 shadow-md">
      <div class="flex flex-col">
          <!-- Item Name and Price -->
          <div class="flex justify-between items-center mb-6">
              <h2 class="text-3xl font-bold text-gray-800">{{ item.name }}</h2>
              <span class="text-2xl text-orange-700 font-semibold">Price: {{ item.price }}</span>
          </div>
          
          <!-- Seller Information -->
          <p class="text-gray-700 text-lg mb-4">
              <strong>Seller:</strong> {{ item.created_by.username }}
          </p>
          
          <!-- Description -->
          <p class="text-gray-700 text-lg">
              <strong>Description:</strong><br>
              {{ item.description }}
          </p>
          
          <!-- Contact Dealer Button -->
          <a href="{% url 'core:contact_dealer' %}" class="inline-block mt-8 px-6 py-3 text-lg font-semibold bg-red-700 text-white rounded-lg hover:bg-orange-700 transition-colors duration-300">
            Contact Dealer
        </a>       
      </div>
  </div>
</div>
<div class="mt-6 px-6 py-12 bg-orange-100 rounded-xl">
  <h2 class="mb-12 text-2xl text-center">Same Company {{category}}</h2>
  <div class="grid grid-cols-3  gap-3">
      {% for item in related_items %}
          <div>
              <a href="{% url 'item:detail' item.id %}">
                  <div>
                      <img src="{{ item.image.url }}" class="rounded-t-xl">
                  </div>
                  <div class="p-6 bg-white rounded-b-xl">
                      <h2 class="text-2xl">{{item.name }}</h2>
                      <p class="text-gray-500">Price: {{item.price}}</p>
                  </div>
              </a>
          </div>
  {% endfor %}
  </div>
</div>

  
  
  
{% endblock %}